*{
    font-family: system-ui, system-ui, sans-serif;
    margin: 0 auto;
}
/*achitects header*/
.architects-container{
    background-color: #FFF4E7;
}
.Main-header{
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-around;
}
.manubar a{
    margin: 12px;
    text-decoration: none;
    font-size: 13px;
}
.header h1{
    font-size: 30px;
    font-weight: 400px;

}
/*second-section header*/
.Group{
    text-align: center;
    padding-top: 100px;

}
.Group p{
    font-size: 11px;
    padding-top:17px;
    color: gray;
    padding-bottom: 17px;
}
.Group h1{

    font-size: 45px;
    font-weight: 700px;
    

}
.btn-prime{
    border-radius: 6px;
    color: white;
    border: none;
    background: #FF900E;
    padding: 12px 15px;
}
/*banner-img*/
.bannar-img img{
    display: flex;
    align-items: center;
    width: 68%;
    
    


}
.bannar-img{
    padding-top: 25px;
    padding-bottom: 30px;
}


/*ouick list*/
.imgage-thime{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 526px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin-top: 5px;
    
    
    
}
/*main-part*/
.main-quick-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 229px;
    padding-top: 20px;
    padding-right: 31px;
}
.sub-img{
   padding-top: 10px;
}
 .sub-img img{
    width:97%;
    
    
    
}
.Quick-list-item{
    padding-right: 100px;
}
.sub-title{
    color: #FF900E;
    padding-bottom: 5px;
}
.title{
    color: gray;
}
span{
    color: black;
}
.feature p{
    font-size: 12px;
    padding-bottom: 16px;
    color: gray;
}
/*features plan part*/
.feature-title{
    border-left: 3px solid #FF900E;
}