*{
    font-family: system-ui, system-ui, sans-serif;

}
.Main-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.manubar a{
    margin: 12px;
    text-decoration: none;
    font-size: 13px;
}
.header h1{
    font-size: 35px;
    font-weight: 700px;

}
/*second-section header*/
.Group{
    text-align: center;
}